* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

@media screen {
    body {
        min-width: 960px;
    }
}

/* header and navigation styles */

.text-primary {
    color: rgb(231, 108, 8)
}

.btn-primary {
    background-color: rgb(231, 108, 8);
    height: 64px;
    border-radius: 5px;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    border: none;
    text-wrap: nowrap;
    padding: 18px 35px;
}

header {
    margin: 0;
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav {
    display: flex;
    justify-content: space-between;

}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}

nav ul {
    margin: 50px 200px;
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin: 50px 200px;
}

/* banner style */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 400px;
}

.banner-sub-title {
    font-size: 40px;
    font-weight: 600;
    color: slategray;
}

.btn {
    display: flex;

}

.btn .btn-primary {
    margin-right: 16px;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    margin-bottom: 20px;
}

.banner .profile-pic {
    width: 500px;
    margin-left: 250px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

.about {
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
}

/* skill section */
.skill-section {
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill{
    background-color: rgb(222, 228, 235);
   box-shadow: rgb(243, 255, 255);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.skill>img{
    overflow-clip-margin: content-box;
    float: left;
}
 .skill-title{
    text-align: start;
   margin-top: 70px;
   word-wrap: normal;
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 700;
}
 .skill-description {
    display: block;
   text-align: start;
   overflow: hidden;
}
/* resume section */
.resume-section{
    margin-top: 130px;
    border-radius: 10px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.resume-item-title{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #474747;
}
.resume-item-institue{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-description, .resume-item-institue{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;

}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}
.social-links a{
    margin-right: 25px;
}